

<div class="container" align="center">
    <div class="row">
      <div class="col-6">
        <h1>Plot 1: Europe Sales of videogames over Years</h1>
      </div>
      <div class="col-6">
        <div><img src="{{url_for('static', filename='plot1.png')}}" align="middle" /></div>
      </div>
      <div class="col-6">
        <h1>Plot 2: Global Sales of videogames over Years</h1>
      </div>
      <div class="col-6">
        <div><img src="{{url_for('static', filename='plot2.png')}}" align="middle" /></div>
      </div>
    </div>
</div>